export DEBUG="{{DEBUG}}"
export SECRET_KEY="{{SECRET_KEY}}"
export DATABASE_URL="{{DATABASE_URL}}"
export DEV_ENV="{{DEV_ENV}}"
export TelegramToken="{{TelegramToken}}"
export ALLOWED_HOSTS="{{ALLOWED_HOSTS}}"
export DOCUMENTS_DIR={{DOCUMENTS_DIR}}"
