{% extends 'base.html' %}
{% load static from staticfiles %}
{% block primary %}
  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <h1>Lista plików dla</h1>
      <p><button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'add_file' car_id %}'">Dodaj plik</button></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Plik</th>
            <th scope="col">opis</th>
          </tr>
        </thead>
        <tbody>
          {% for element in files %}
          <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td><a href="{% static 'car_files/' %}{{element.name}}">{{ element.name }}</a></td>
            <td>{{ element.desc }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <!-- /.row -->
{% endblock %}
