{% extends 'base.html' %}
{% load static from staticfiles %}
{% block primary %}

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-6">
      <h1>{{ Milage.car.manufacurer }} {{ Milage.car.model }}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">przebieg [km]</th>
          </tr>
        </thead>
        <tbody>
          {% for element in Milage %}
          <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td>{{ element.date|date:"d.m.Y" }}</td>
            <td>{{ element.milage }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-lg-6" id="chartContainer">
    </div>
  </div>
  <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
            {

            axisX:{
                title: "Czas",
                gridThickness: 2
            },
            axisY: {
                title: "Przebieg [km]"
            },
            data: [
            {
                type: "area",
                dataPoints: [//array
                {% for element in Milage %}
                  { x: new Date({{ element.date|date:"Y" }}, {{ element.date|date:"m" }}, {{ element.date|date:"d" }}), y: {{ element.milage }}},
                {% endfor %}
                ]
            }
            ]
        });

            chart.render();
        }
        </script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- /.row -->









{% endblock %}
