{% extends 'base.html' %}
{% load static from staticfiles %}
{% block primary %}

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-6">
      <h3>{{ Milage.car.getName }} - przebieg</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">przebieg [km]</th>
          </tr>
        </thead>
        <tbody>
          {% for element in Milage %}
          <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td>{{ element.date|date:"d.m.Y" }}</td>
            <td>{{ element.milage }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-lg-6" id="chartContainer">
        <canvas id="myChart" style="max-width: 500px;"></canvas>

      <script>
              var ctx = document.getElementById("myChart").getContext('2d');
              var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [{% for element in Milage reversed %} "{{element.date|date:"d.m.Y"}}", {% endfor %}],
                  datasets: [{
                    label: 'Przebieg [km]',
                    data:  [
                              {% for element in Milage reversed %}
                                {
                                  x: new Date({{ element.date|date:"Y" }}, {{ element.date|date:"m" }}, {{ element.date|date:"d" }}),
                                  y: {{ element.milage }}
                                },
                              {% endfor %}
                           ],
                           fill: false,

                    backgroundColor: [
                      'rgba(66, 134, 244)'
                    ],
                    borderColor: [
                      'rgba(66, 134, 244)'
                    ],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: false
                      }
                    }]
                  }
                }
              });

            </script>
    </div>
  </div>
  <!-- /.row -->









{% endblock %}
