{% extends 'base.html' %}
{% load static from staticfiles %}
{% load tags %}
{% block primary %}

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-12">
      <h1>{{ service_plan.1.car.manufacturer }} {{ service_plan.1.car.model }} - Harmonogram prac</h1>
      <p><button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'add_tmpl_action' car_id %}'">Dodaj wpis</button></p>
      <table class="table table-striped small">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tytuł</th>
              <th scope="col">okres [km]</th>
              <th scope="col">okres czasowy</th>
              <th scope="col">deadline</th>
              <th></th>
            </tr>
         </thead>
            <tbody>
            {% for element in service_plan %}
                    <tr>
                      <th scope="row">
                          <span>{{ forloop.counter }}</span>
                      </th>
                      <td>
                          {% if element.id|action_extra_info == "KATASTROFA" %}
                            <!-- https://www.elegantthemes.com/blog/resources/elegant-icon-font-->
                                <i class="text-danger icon_tool"></i>
                          {% endif %}
                          {% if element.id|action_extra_info == "UWAGA" %}
                                <i class="text-warning icon_tool"></i>
                          {% endif %}
                          <a href="{% url 'tmpl_action' element.id %}">{{ element.getName }}</a>
                      </td>
                      <td>
                          {% if element.action_milage_period %}
                             <a href="#" data-toggle="tooltip" title="Do wykonania akcji pozostało {{element.id|action_extra_data_milage_left}} km">
                                 {{ element.action_milage_period|default_if_none:"" }}
                             </a>
                          {% endif %}
                      </td>
                      <td>{% if element.action_days_period %}

                            <a href="#" data-toggle="tooltip" title="Do wykonania akcji pozostało {{element.id|action_extra_data_time_left}}">
                                {{element.action_days_period|action_extra_days_to_nice_date}}
                            </a>
                          {% endif %}
                      </td>
                      <td>{{ element.action_end_date|date:"d M Y"|default_if_none:"" }}</td>
                      <td><a href="{% url 'admin:journal_actiontemplate_change' element.id %}">edytuj</a></td>
                  </tr>

            {% endfor %}
            </tbody>
         </table>

    </div>
  </div>
  <!-- /.row -->
{% endblock %}
