{% extends 'base.html' %}
{% load static from staticfiles %}
{% block primary %}

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-6">
      <h1>{{ TmplAction.car.manufacurer }} {{ TmplAction.car.model }}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">wymiana [km]</th>
            <th scope="col">wymiana [miesięcy]</th>
            <th scope="col">Deadline</th>
            <th scope="col">Produkt</th>
            <th scope="col">Ilość produktu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">{{ TmplAction.getName }}</td>
            <td scope="col">{{ TmplAction.desc }}</td>
            <td scope="col">{{ TmplAction.action_milage_period }}</td>
            <td scope="col">{{ TmplAction.action_days_period }}</td>
            <td scope="col">{{ TmplAction.action_end_date }}</td>
            <td scope="col">{{ TmplAction.product }}</td>
            <td scope="col">{{ TmplAction.product_quantity }}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-lg-6" id="chartContainer">
    </div>
  </div>
  <!-- /.row -->









{% endblock %}
