{% extends 'base.html' %}
{% load static from staticfiles %}
{% load spc_extratags %}
{% block primary %}
<!--main content start-->
<div class="row my-4">
    <div class="col-lg-12">
        <div id="alerts">
            <div class="alert alert-info" role="alert"><h3>Gotowy do pomiaru</h3></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-success btn-lg btn-block" onclick="start_measure()" type="button" id="btn_start">
                Start
            </button>
            <button class="btn btn-danger btn-lg btn-block" onclick="stop_measure()" type="button" id="btn_stop">
                Stop
            </button>
            <button class="btn btn-primary btn-lg btn-block"
                    onclick="send_result({{ team.id }},{{ request.session.current_track_id }},{{ request.session.current_loop}})"
                    type="button" id="btn_send">
                Wyślij wynik
            </button>
            <p></p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-info " href="{% url 'change_track' request.session.chosen_race_id %}">Zmień trasę/pętlę <i
                        class="fa fa-clock-o"></i></a>
                <button class="btn btn-info " onclick="clear_measure()" type="button" id="btn_clear">Reset</button>
                <button class="btn btn-info" onclick="add_fee()" type="button" id="btn_kara">Kara +5s</button>
                <button class="btn btn-info" onclick="add_taryfa()" type="button" id="btn_taryfa">Taryfa</button>
            </div>
        </div>
        <div class="col">


            <div class="row my-4">
                <div>
                    <h3 class="h3">Załoga:</span> <span class="font-italic small">{{team.id|GetTeamName}}</span></h3>
                    <h3 class="h3">Nr załogi: <span
                            class="badge badge-warning font-weight-bold ">{{ team.start_no }}</span></h3>

                    <h3 class="h3">Aktualna trasa: <span class="badge badge-info font-weight-bold ">{{ request.session.current_track_name}}</span>
                    </h3>
                    <h3 class="h3">Zegar: <span class="h4" id="time_clock">-</span></h3>
                    <h3 class="h3">Wynik: <span class="badge badge-success font-weight-bold "
                                                     id="result">     </span></h3>
                    <h3 class="h3">Kara [s]: <span class="badge badge-danger font-weight-bold" id="kara">       </span>
                    </h3>
                    <h3 class="h3">Taryfa: <span class="badge badge-danger font-weight-bold" id="taryfa">     </span>
                    </h3>
                    <h3 class="h3">Status zapisu wyniku: <span class="h4" id="send_result_info"></span></h3>
                </div>


            </div>

        </div>
    </div>
</div>



<script src="{% static 'js/spc.js' %}"></script>
{% endblock %}