---
- name: auto-taglibro install playbook
  hosts: auto-taglibro
  remote_user: root
  become_method: sudo
  vars:
    log_dir: "/opt/autotaglibro_log"
    docs_dir: "/opt/autotaglibro_docs"
    app_dir: "/opt/autotaglibro"
    run_user: "autotaglibro"
    run_group: "autotaglibro"

  tasks:
    - name: Add the user autotaglibro
      become: yes
      user:
        name: "{{ run_user }}"
        shell: /bin/bash

    - name: Install required packages
      become: yes
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - git
        - python3
        - python3-pip
        - postgresql-server-dev-all
        - libmysqlclient-dev
      when: ansible_distribution == "Ubuntu"

    - name: Creates App directory
      become: yes
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: "{{ run_user }}"

    - name: Creates App log directory
      become: yes
      file:
        path: "{{ log_dir }}"
        state: directory
        owner: "{{ run_user }}"

    - name: Creates App documents directory
      become: yes
      file:
        path: "{{ docs_dir }}"
        state: directory
        owner: "{{ run_user }}"

    - name: Get code
      become: yes
      git:
        repo: https://github.com/dymbol/auto-taglibro
        dest: "{{ app_dir }}"
        force: yes

    - name: Set code permissions
      become: yes
      file:
        dest: "{{ app_dir }}"
        owner: "{{ run_user }}"
        group: "{{ run_group }}"
        recurse: yes

    - name: install Python requierments
      become: yes
      command: 'pip3 install -r "{{ app_dir }}"/requirements.txt'
