---
- name: auto-taglibro run playbook
  hosts: auto-taglibro
  remote_user: root
  become: yes
  become_method: sudo
  vars_files:
    -  "{{ playbook_dir }}/env/autotaglibro_vars.yml"
    # example:
    #DEBUG: "True"
    #SECRET_KEY: "Hjuioh78687^%586h98jh98"
    #DATABASE_URL: "sqlite:///autotaglibro/db.sqlite3;"
    #DEV_ENV: "True"
    #TelegramToken: "598551213:AAHVT4vMsBt_IUCrdvMyDsoTOSD5NoM0o1A"
    #ALLOWED_HOSTS: "wp.pl"
  vars:
    log_dir: "/opt/autotaglibro_log"
    docs_dir: "/opt/autotaglibro_docs"
    app_dir: "/opt/autotaglibro"
    run_user: "autotaglibro"
    run_group: "autotaglibro"
  environment:
    DEBUG: "{{DEBUG}}"
    SECRET_KEY: "{{SECRET_KEY}}"
    DATABASE_URL: "{{DATABASE_URL}}"
    DEV_ENV: "{{DEV_ENV}}"
    TelegramToken: "{{TelegramToken}}"
    ALLOWED_HOSTS: "{{ALLOWED_HOSTS}}"

  tasks:
    - name: Prepare environment variables
      template:
        src: templates/autotaglibro.j2
        dest: "/etc/profile.d/autotaglibro.sh"

    - name: Applaying migrations
      command: "python3 {{ app_dir }}/manage.py  migrate"
      become_user: "{{run_user}}"

    - name: Running uwsgi
      command: "uwsgi --ini {{ app_dir }}/uwsgi.ini"
      become_user: "{{run_user}}"
